force-app/main/default/flows/Deneme0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Shipment_Existing</name>
        <label>Is Shipment Existing?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Shipment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Package</targetReference>
            </connector>
            <label>Yess</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>customerRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <object>Customers__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ShipmentRecordName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Shipment__c</object>
        <outputAssignments>
            <assignToReference>PackageFields.Shipment__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Deneme0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CREATE SHIPMENT &amp; PACKAGES RECORD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Package</name>
        <label>Copy 1 of Create Package</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Copy_1_of_scr3</targetReference>
        </connector>
        <inputAssignments>
            <field>Package_Heigth__c</field>
            <value>
                <elementReference>PackageFields.Package_Heigth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package_Lenght__c</field>
            <value>
                <elementReference>PackageFields.Package_Lenght__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package_Status__c</field>
            <value>
                <elementReference>PackageFields.Package_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package_Weidth__c</field>
            <value>
                <elementReference>PackageFields.Package_Weidth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment__c</field>
            <value>
                <elementReference>Create_Shipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_KG__c</field>
            <value>
                <elementReference>PackageFields.Weight_KG__c</elementReference>
            </value>
        </inputAssignments>
        <object>Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Package</name>
        <label>Create Package</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>scr3</targetReference>
        </connector>
        <inputAssignments>
            <field>Package_Heigth__c</field>
            <value>
                <elementReference>PackageFields.Package_Heigth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package_Lenght__c</field>
            <value>
                <elementReference>PackageFields.Package_Lenght__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package_Status__c</field>
            <value>
                <elementReference>PackageFields.Package_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package_Weidth__c</field>
            <value>
                <elementReference>PackageFields.Package_Weidth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment__c</field>
            <value>
                <elementReference>PackageFields.Shipment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_KG__c</field>
            <value>
                <elementReference>PackageFields.Weight_KG__c</elementReference>
            </value>
        </inputAssignments>
        <object>Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Shipment</name>
        <label>Create Shipment</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Package</targetReference>
        </connector>
        <inputAssignments>
            <field>Actual_Delivery_Date__c</field>
            <value>
                <elementReference>shipmentFields.Actual_Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customers__c</field>
            <value>
                <elementReference>customerFields.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Delivery_Date__c</field>
            <value>
                <elementReference>shipmentFields.Estimated_Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_transit_Date__c</field>
            <value>
                <elementReference>shipmentFields.In_transit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Status__c</field>
            <value>
                <elementReference>shipmentFields.Shipment_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracking_Number__c</field>
            <value>
                <elementReference>shipmentFields.Tracking_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Copy_1_of_Scr1</name>
        <label>Copy 1 of Scr1</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_2_of_Scr1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_display1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(179, 26, 26);&quot;&gt;NEW or EXISTING SHIPMENT&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Scr1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Scr1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_disp1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Is Shipment Existing?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Scr1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Yes</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Yes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Scr1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Scr1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>shipmentFields.Estimated_Delivery_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Scr1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>shipmentFields.Shipment_Status__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>shipmentFields.In_transit_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Scr1_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>shipmentFields.Tracking_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>shipmentFields.Actual_Delivery_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Copy_1_of_Yes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>shipmentRecordSet</name>
            <choiceReferences>ShipmentRecordName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Existing Shipments</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Copy_1_of_Yes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>SAVE &amp; NEXT</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_scr3</name>
        <label>Copy 1 of scr3</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_disp4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The record is successfully created!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Scr1</name>
        <label>Copy 2 of Scr1</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Shipment_Existing</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_display2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(42, 86, 186); font-size: 28px;&quot;&gt;NEW PACKAGE&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Scr1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Scr1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PackageFields.Package_Status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Scr1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PackageFields.Package_Lenght__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PackageFields.Package_Heigth__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Scr1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PackageFields.Package_Weidth__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PackageFields.Weight_KG__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>SAVE</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr3</name>
        <label>scr3</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disp4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The record is successfully created!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Scr1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customerFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customers__c</objectType>
    </variables>
    <variables>
        <name>PackageFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Package__c</objectType>
    </variables>
    <variables>
        <name>shipmentFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipment__c</objectType>
    </variables>
</Flow>
