force-app/main/default/flows/Deneme123.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Not_Delivered_Count</name>
        <label>Not Delivered Count</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Package_Status_Control</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Delivered_or_Not</name>
        <label>Delivered or Not</label>
        <locationX>358</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Not_Delivered_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Package_Status_Control.Package_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Package_Status_Control</targetReference>
            </connector>
            <label>Delivered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Control</name>
        <label>Last Control</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Not Yet</defaultConnectorLabel>
        <rules>
            <name>AllPackagesDelivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatedStatus</targetReference>
            </connector>
            <label>AllPackagesDelivered</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Deneme123 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SHIPMENT STATUS FLOW</label>
    <loops>
        <name>Package_Status_Control</name>
        <label>Package Status Control</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Package</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delivered_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Last_Control</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Package</name>
        <label>Get Package</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Package_Status_Control</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatedStatus</name>
        <label>updatedStatus</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Shipment_Status__c</field>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </inputAssignments>
        <object>Shipment__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Package</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Package_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <object>Package__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarPackage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Package__c</objectType>
    </variables>
</Flow>
